  .navbar {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    transition: background-color 0.3s, backdrop-filter 0.3s;
    z-index: 999;
  }
  
  .logo {
    flex: 1;
    max-width: 50%;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  .social_media {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }
  
  .social_media img {
    width: 50px;
    height: auto;
  }
