@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --main: clamp(4.5rem, 2.5vw, 2.8rem);
    --sub_main: clamp(1.5rem, 1.5vw, 1.8rem);
    --header: clamp(3.5rem, 2.5vw, 2.8rem);
    --content: clamp(1rem, 1.5vw, 1.8rem);
}
