@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: DM;
    src: url(./assets/fonts/DM_Sans/DMSans-VariableFont.ttf);
}

*{
    font-family: DM;
}

:root{
    --main: clamp(5.5rem, 2.5vw, 2.8rem);
    --sub_main: clamp(1.5rem, 1.5vw, 1.8rem);
    --header: clamp(3.5rem, 2.5vw, 2.8rem);
    --content: clamp(1rem, 1.5vw, 1.8rem);
    --script: clamp(0.85rem, 0.5vw, 1rem);
}
